.idea
scripts/incl/*.credentials.php
scripts/realms2houses_cache/*
public/us.html
public/us-*.html
public/eu.html
public/eu-*.html
public/us.json
public/us-*.json
public/eu.json
public/eu-*.json
public/connected-realms.json
public/sitemap.xml
