<?php

// Mashery
define('MASHERY_KEY', 'aaaaaaaaaaaaaaa');
define('MASHERY_SECRET', 'bbbbbbbbbbbb');

// Blizzard
define('BATTLE_NET_KEY', 'ccccccccccccccccc');
define('BATTLE_NET_SECRET', 'ddddddddddddddd');

define('BATTLE_NET_AUTH_URI', 'https://%s.battle.net/oauth/authorize');
define('BATTLE_NET_TOKEN_URI', 'https://%s.battle.net/oauth/token');
