<?php

define('DATABASE_HOST', 'localhost');
define('DATABASE_SCHEMA', 'realmpop');

define('DATABASE_USERNAME', 'realmpop');
define('DATABASE_PASSWORD', 'xxx');

// define('RP_CURL_INTERFACE', 'x.x.x.x');
